<<<<<<< HEAD
//===WRITE PAGE===//
#title
{
=======
// ========== Write ==========
#title {
>>>>>>> 0a9e3ae2be2f0c966cbfef4742ad1e956d325f8c
    font-size: 25px;
    font-style: Verdana serif;
    letter-spacing: 0.2em;
    color: orange;
}
<<<<<<< HEAD
#title_box
{
    height: 40px;
    width: 550px;
}
#content
{
=======
#title_box {
    height: 40px;
    width: 550px;
}
#content {
>>>>>>> 0a9e3ae2be2f0c966cbfef4742ad1e956d325f8c
    font-size: 25px;
    font-style: Verdana serif;
    letter-spacing: 0.2em;
    color: orange;
}
<<<<<<< HEAD
#content_box
{
=======
#content_box {
>>>>>>> 0a9e3ae2be2f0c966cbfef4742ad1e956d325f8c
    height: 100px;
    width: 550px;
    word-wrap: break-word;
}
