// ========== Write ==========
#title {
    font-size: 25px;
    font-style: Verdana serif;
    letter-spacing: 0.2em;
    color: orange;
}
#title_box {
    height: 40px;
    width: 550px;
}
#content {
    font-size: 25px;
    font-style: Verdana serif;
    letter-spacing: 0.2em;
    color: orange;
}
#content_box {
    height: 100px;
    width: 550px;
    word-wrap: break-word;
}
