<!-- ======= views/blog.erb ======= -->

<div id="blog_posts">
    <p> Here is your latest Post: </p>
         <p> Title: <%= @post[:title] %> </p>
         <p> Content: <%= @post[:content] %> </p>
</div>
