<!-- ======= views/menu.erb ======= -->

<h1>Home</h1>

<div id="homepage">
    <h1>Welcome to Mike Sqaured</h1>

    <div id="account_log">
        <a href="/user_sign_in">User Sign In</a><br>
        <a href="/logout">Log Out</a>
    </div>
</div>

<div id="newUser">
    <a href="/user_registration_form">Register</a><br>
</div>
