<h1 align="center">WELCOME TO MIKESQUARED!</h1>
<h2 align="center">Here is your profile information:</h2>

<div id="menubox">
<div class="sidebar-row row">
    <div id="sidebar-menu" class="col col-md-4 col-lg-4 col-sm-10 col-xs-6">
        <div class="sidebar-item"><p id="num"><b>First Name: &nbsp;</b></div>
            <br>
            <br>
            <br>
        <div class="sidebar-item"><p id="num"><b>Last Name: &nbsp;</b></div>
            <br>
            <br>
            <br>
        <div class="sidebar-item"><p id="num"><b>User ID: &nbsp;</b></div>
                <br>
                <br>
                <br>
        <div class="sidebar-item"><p id="num"><b>Email: &nbsp;</b></div>
            <br>
            <br>
            <br>
        <div class="sidebar-item"><p id="num"><b>About Me: &nbsp;</b></div>
            <br>
            <br>
            <br>
    </div>
</div>
