<!-- ======= views/user_registration_form.erb ======= -->
<h1>User Form</h1>

<!-- firstname, lastname, username, password, email -->

<form  id="user_registration_form" method="POST" action="/user">
    <div><label for="firstname">First Name</label><input type="firstname" name="firstname" value=""></div>
    <div><label for="lastname">Last Name</label><input type="lastname" name="lastname" value=""></div>
    <div><label for="username">Username</label><input type="username" name="username" value=""></div>
    <div><label for="password">Password</label><input type="password" name="password" value=""></div>
    <div><label for="email">Email</label><input type="email" name="email" value=""></div>
    <input type="submit" id="submit">
</form>
