<!-- ======= views/user_sign_in.erb ======= -->
<h1>User Sign In</h1>

<form  id="user_sign_in" method="POST" action="/user_sign_in">

    <div><label for="username"><p id="usern"><b>Username</b></p></label><input type="username" id="username" name="username" value=""></div>

    <div><label for="password"><p id="userp"><b>Password</b></p></label><input type="password" name="password" value=""></div><br>

    <input type="submit" id="submituser">

</form>
