<!-- ======= views/user_sign_in.erb ======= -->
<h1>User Sign In</h1>

<!-- username, password -->

<form  id="user_sign_in" method="POST" action="/user_sign_in">
    <div><label for="username">Username</label><input type="username" name="username" value=""></div>
    <div><label for="password">Password</label><input type="password" name="password" value=""></div>
    <input type="submit" id="submit">
</form>
