<<<<<<< HEAD
<h1 align="center">Write What You Want!</h1>
<h2 align="center">(In less than 150 characters, of course)</h2>

<!-- firstname, lastname, username, password, email -->
=======
<!-- ======= views/write.erb ======= -->

<h1 align="center">Write What You Want!</h1>
<h2 align="center">(In less than 150 characters, of course)</h2>

<!-- title, content, img -->
>>>>>>> 0a9e3ae2be2f0c966cbfef4742ad1e956d325f8c

<br>
<br>
<br>

<<<<<<< HEAD
<form align="center" id="newpost_form" method="POST" action="/newpost">

<div><label for="title"><p id="title"><b>TITLE</b></p></label></div>
<textarea name="text" rows="3" cols="90" wrap="soft"> </textarea>

<div><label for="content"><p id="title"><b>CONTENT</b></p></label></div>
<textarea maxlength="150" name="text" rows="13" cols="90" wrap="soft"> </textarea>
=======
<form align="center" id="newpost_form" method="POST" action="/blog">

<div><label for="title"><p id="title"><b>TITLE</b></p></label></div>
<textarea name="title" rows="3" cols="90" wrap="soft"> </textarea>

<div><label for="content"><p id="title"><b>CONTENT</b></p></label></div>
<textarea maxlength="150" name="content" rows="13" cols="90" wrap="soft"> </textarea>
>>>>>>> 0a9e3ae2be2f0c966cbfef4742ad1e956d325f8c

    <br>
    <br>
    <input type="submit" id="publish" value="Publish">
    <br>
    <br>
    <button type="reset" id="clear" value="Clear">CLEAR</button>

</form>
